<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,701},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,701},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,701},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,498},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,498},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,498},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,701},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,50},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>circle_eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,0},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>circle_eyes_3 - 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>circle_eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>circle_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,0},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>circle_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>kingstone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1108},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1108},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1108},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,904},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,904},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>kingstone_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,904},{229,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>ks_eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>ks_eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ks_eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,0},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>ks_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>ks_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>sr_runner_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>triangle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,274},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,274},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,274},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,50},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,50},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,50},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,50},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>triangle_eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>triangle_eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,0},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>triangle_eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>triangle_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>triangle_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>triangle_runner_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Runner.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7e8c1b888eafd42a5d08c83558b3d3:c3c99c543e01fc5049872bea68a74bbe:8a9126b2db06aca379e10c9d898839cd$</string>
            <key>textureFileName</key>
            <string>Runner.png</string>
        </dict>
    </dict>
</plist>
